<%= link_to user_post_path(@user.id, post.id), id: "user_post#{post.id}" do %>
  <h2><%= post.title %></h2>
<% end %>
<p><%= post.text.first(500) %>  </p>
<div>
  <p>Comments : <%= post.comments.size.to_i%>  Likes : <%= post.likes.size.to_i %> </p>
</div>
